<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        margin: 0;
        padding-bottom: 50px; /* Adjust this value to match the height of your footer */
      }

      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #2c3e50;
        color: #fff;
        padding: 10px;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <!-- Your page content here -->

    <div class="footer">
      <p>&copy; 2023 Quizwiz. All rights reserved.</p>
      <p>Location: IICT, SUST</p>
      <p>
        Email:
        <a
          href="mailto:sabbir109@student.sust.edu"
          style="color: #fff; text-decoration: none"
          >sabbir109@student.sust.edu</a
        >
      </p>
      <p>
        Phone:
        <a
          href="tel:01998766403"
          style="color: #fff; text-decoration: none"
          >01998766403</a
        >
      </p>
    </div>
  </body>
</html>